#Node
node_modules/
dist/

#Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

#Environment variables
.env
.env.*
!.env.example

#Jupyter
.ipynb_checkpoints/

#ML datasets
data/processed/*.csv

#macOS
.DS_Store

#IDE
.vscode/
.idea/

#Logs
*.log

#VS Code extensions
.VSCodeCounter/

